
::-webkit-scrollbar {
    width: 6px; /* Độ rộng của thanh cuộn */
    height:6px;
  }    
::-webkit-scrollbar-track {
  background: white; /* Màu nền của track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(264.07deg, #00a99c 0%, #00a99d 33.91%, #005baa 100%);
}
.h-logo{
    max-width:100px;
    display:block;
}
.shrink-0 {
    flex-shrink: 0;
}
.basis-1\/2{
    flex-basis:50%;
}
.basis-full{
    flex-basis:100%;
}
.text-litte{
    font-size:9px;
}
@keyframes animateOutline {
    0% {
      outline-width: 1px;
      outline-offset: 0;
      outline-color: rgba(0, 130, 206, 0);
    }
  
    10% {
      outline-color: rgba(0, 130, 206, 0.75);
    }
  
    /* The animation finishes at 50% */
    50% {
      outline-width: 7px;
      outline-offset: 4px;
      outline-color: rgba(0, 130, 206, 0);
    }
  
    100% {
      outline-width: 7px;
      outline-offset: 4px;
      outline-color: rgba(102, 102, 102, 0);
    }
  }
.back-to-top{
    padding-top: 2px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    right: 15px;
    border-radius: 5px;
    bottom: 20px;
    background: white;
    z-index: 40;
    color: black;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.back-to-top.show:hover {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(0, 130, 206, 0.75);
    outline-style: solid;
    animation: animateOutline 4s ease infinite  alternate;
  }
.back-to-top.show {
    opacity: 1;
    pointer-events: all;
    visibility: unset;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.line-clamp-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.publication-item .title-infor  {
    min-width: 130px;
    margin-right: 8px;
}
.c-img{
    position:relative;
    display:block;
}
.header-icon-search .btn-searh{
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 5px;
}
.form-search-header > input{
    color:black;
    outline:none;
}
.header-icon-search .form-search-header button {
    width: 40px;
    height: 100%;
    color: #888;
    background: white;
    font-size: 16px;
    border: solid 1px #888;
}
.header-icon-search .form-search-header input {
    height: 100%;
    width: calc(100% - 40px);
    border: solid 1px #888;
    border-right: none;
    padding: 12px 16px;
}

.header-icon-search .form-search-header.active {
    top: 100%;
    opacity: 1;
    visibility: unset;
    pointer-events: all;
    transform:translateY(0px);
    transition:all 0.8s;
}
.header-icon-search .form-search-header {
    position: absolute;
    background: white;
    width: 290px;
    z-index: 2;
    top: calc(100% + 50px);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
    right: 11%;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform:translateY(10px);
    
    transition:all 0.5s;
}
.register .c-img{
    padding-top:66%;
}
.people .c-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit:contain;
}
    .c-img iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.item-partner img {
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition:all 0.5s;
}
.item-partner:hover >  img{
    transform: translate(-50%, -50%) scale(1.2);
    transition:all 0.5s;
}
.item-partner{
    padding-top:54%;
}
.swiper-container-pointer-events{
    touch-action: pan-y;
}
.header_menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
    z-index: 90;
}
span.bar.x.open {
    background-color: black;
}
.header_menu-bar .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 500ms ease-in-out;
}
.header_menu-bar:hover {
    cursor: pointer;
}
.x:nth-of-type(1) {
    transition: all 500ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
}

.x:nth-of-type(2) {
    transition: all 500ms ease-in-out;
    transform-origin: center;
    width: 0;
}
.x:nth-of-type(3) {
    transition: all 500ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
}
.module-infor > div > img:hover{
    transform: scale(1.3);
    transition: all 0.5s;
}
.module-infor > div > img{
    transition: all 0.5s;
}
.module-infor  div{
    overflow:hidden;
}
.subtitle{
    color:#00A99D;
}
.subtitle::before{
    content:"";
    margin-left: 0.75rem;
    background:currentColor;
    height:2px;
    width:1.5rem;
    margin-right: 8px; 
}
.subtitle:after{
    content:"";
    margin-left: 0.75rem;
    background:currentColor;
    height:2px;
    width:1.5rem;
    margin-right: 8px;
}

.document-subtitle:before{
    content:"";
    margin-left: 0.75rem;
    background:currentColor;
    height:2px;
    width:1.5rem;
    margin-right: 8px;
}
.slide-1-1{
    flex-basis:50%;
}
.slide-1-2{
    flex-basis:50%;
}
.btn-all{
    font-weight: 600;
    background: linear-gradient(264.07deg, #00a99c 0%, #00a99d 33.91%, #005baa 100%);
    -webkit-box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    border-radius: 25px;
    position: relative;
    opacity:1;
    z-index:2;
    transition: all .5s;
}

.btn-all:hover{
    opacity:0;
    transition: all .5s;
}
.btn-all2{
    font-weight: 600;
    background-color: white;
    -webkit-box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    border-radius: 25px;
    position: absolute;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition: all .5s;
    outline: none;
}
.btn-all .text-button {
    display: inline-flex;
    width: 100%;
    height: 100%;
    color:white;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.65rem 1.25rem;
    z-index: 1;
}
.btn-all2 > .text-button{
    background: linear-gradient(264.07deg, #00a99c 0%, #00a99d 33.91%, #005baa 100%);
    background-clip: text;
    color: transparent;
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.65rem 1.25rem;
    z-index: 1;
}

.introduce > .container > p::before {
    content:"";
    margin-right: 0.75rem;
    background:currentColor;
    height:2px;
    width:1.5rem;
    margin-right: 8px;
}
.introduce > .container > p::after {
    content:"";
    margin-left: 0.75rem;
    background:currentColor;
    height:2px;
    width:1.5rem;
    margin-right: 8px;
}
.module-parent{
    overflow: auto;
    display: flex;
    scroll-padding-left: 10px; /* Điều chỉnh để phần tử đầu tiên không bị che khuất */
    box-sizing: border-box; /* Bao gồm padding vào kích thước tổng */
}

.module-parent  .module-child{
    border-radius: 10px;
    padding: 0.5rem 1.25rem;
    background: rgba(29, 29, 29, 1);
    border: 1px solid #00a99d;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    flex: 1;
}
button.module-child.active {
    background: white;
    border: none;
}
.module-parent .module-child p {
    background: linear-gradient(90deg, #00a99d 0%, #00aeef 100%);
    background-clip: text;  
    color:transparent;
    font-weight: 600;
}
.box-vision{
    min-height: 400px;
    border-radius: 1.875rem;
}
.athur-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 3px;
    width: 15px;
    height: 5px;
    background: rgba(255, 255, 255, 0.75);
    transition: all 0.3s;
    margin: 0 2px;
    cursor:pointer;
}

.athur-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #a1d078;
        width: 50px;
        transition: all 0.3s;
}
.athur .item{
    margin-bottom: 25px;
}
.img-full-cover img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.img-full-cover{
    border:2px solid white;
    flex: 0 0 auto; 
}
.swiper-button-next.button-next-dat:hover{
    background-color: white;
    color:#a1d078;
    transition: all .5s ease;
}

.swiper-button-prev.button-prev-dat:hover{
    background-color: white;
    color:#a1d078;
    transition: all .5s ease;
}
.swiper-button-next.button-next-dat,  .button-prev-dat.swiper-button-prev{
        border: 1px solid white;    
        width: 40px !important;
        height: 40px !important;
        color: white;
        cursor: pointer;
        display:inline-block;
        transition: all .5s ease;
}
.swiper-button-next:after , .swiper-button-prev:after{
    font-size:16px !important;
}
.people .name{
    transition:all 0.5s;
}
.people .name:hover{
    color:#00A99D;
    transition:all .5s;
}
 .people1-next, .people1-prev{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;
    color: #252525;
    border: 1px solid #fff;
    z-index: 10;
}
.people2-next{
    right: 0;
    transform: translate(50%, -50%);
}
.people1-next{
    right: 0;
    transform: translate(50%, -50%);
}
.people1-prev{
    left: 0;
    transform: translate(-50%, -50%);
}
.people2-prev{
    left: 0;
    transform: translate(-50%, -50%);
}
.people2-next, .people2-prev{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;
    color: #252525;
    border: 1px solid #fff;
    z-index: 10;
}
.people2-next{
    right: 0;
    transform: translate(50%, -50%);
}
.people2-prev{
    left: 0;
    transform: translate(-50%, -50%);
}
.current > i{
    transform: rotate(0deg);
    transition:all 0.5s;
}
.current > i.rotate{
    transform: rotate(180deg);
    transition:all 0.5s;
}
.products-list .currents> strong {
    background: #fff;
    font-size: 0.75rem;
    border: solid thin #ececec;
    display: inline-block;
    padding: 0.3125rem 0.3125rem;
    border-radius: 0.3125rem;
    margin-bottom: 0.1563rem;
    margin-right: 0.2188rem;
}
.swiper-prize-next, .swiper-prize-prev{
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;
    color: #252525;
    border: 1px solid #fff;
    z-index: 10;
}
.swiper-prize-next{
    right: 0;
    transform: translate(50%, -50%);
}
.swiper-prize-prev{
    left: 0;
    transform: translate(-50%, -50%);
}
.pagination-all > .swiper-pagination-bullet-active {
    background: #a1d078 !important;
    width: 50px !important;
}
.pagination-all .swiper-pagination-bullet {
    border-radius: 3px;
    width: 15px;
    height: 5px;
    background: rgba(255, 255, 255, 0.75);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 2px;
}
.publication-item {
    border-radius: 24px;
    transition: all 0.3s;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}
.publication-item:hover {
    border: 1px solid white;
    transition: all 0.5s;
}
.bg-green-gradient {
    background: linear-gradient(264.07deg, #00a99c 0%, #00a99d 33.91%, #005baa 100%);
}
.publication-item > h3 > a:hover{
    color: #00a99d;
    transition: all 0.5s;
}
.publication-item > h3 > a{
    transition: all 0.5s;
}

.publication-item .cate {
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
}

.btn-document-infor{
    width:fit-content;
    padding:15px;
    border-radius: 2rem;
    margin-top:auto;
}
.btn-view-more:hover{
    box-shadow: 0px 8px 24px rgba(255,255,255, 0.45);
    background:white;
    color:#00A99D;
}
.item-new:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    pointer-events: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.item-new .content{
    transform: translateY(75px);
    display:block;
    transition: all 0.5s;
    z-index:2;
}

.item-new:hover > a > img{
    transform: scale(1.3);
    transition: all 0.5s;
}
.item-new > a > img{
    transition: all 0.5s;
}
.main-content > h3:hover{
    color:#00A99D;
    transition: all 0.5s;
}
.main-content > h3{
    color:white;
    transition: all 0.5s;
}
.publication-item .btn-document-infor:hover {
    background: #00a99d;
    color: #fff;
    border: 1px solid #00a99d;
}
.btn-register{
    font-size: 1rem;
    color: #fff;
    background: #888;
    border-radius: 50px;
    flex: 1;
    padding: 12px 16px;
    border: 1px solid #fff;
    transition: all 0.3s;
    background: linear-gradient(264.07deg, #00a99c 0%, #00a99d 33.91%, #005baa 100%);
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
}
.btn-register.active,.btn-register:hover{
    color:black;
    background:white;
} 
.tab-register{
    display:none;
}
.tab-register.active {
    display: block;
}
.tab-register-p{
    max-width: 500px;
}
.form-control-regitser{
    background:rgba(255,255,255,.18);
    padding: 12px 16px;
}
.products-list>.current {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #343434;
    color: #888888;
    padding: 0.75rem 0.9375rem;
    border-radius: 0.4688rem;
}
.name-register::before{
    content: '';
    width: 0.9375rem;
    height: 0.9375rem;
    display: inline-block;
    border: solid thin #fff;
    vertical-align: middle;
    margin-right: 0.4688rem;
    top: -0.0625rem;
    position: relative;
}
.name-register::after{
    position: absolute;
    content: '';
    width: 0.5313rem;
    height: 0.5313rem;
    background: white;
    left: 0.8438rem;
    top: 0.9063rem;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
}
.active.name-register::after{
    opacity: 1;
    visibility:visible;
}
.lists-register{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    right: 0;
    width: 100%;
    max-height: 15.625rem;
    transform:translateY(-20px);
    background: #343434;
    top: calc(100% + 0.625rem);
    border-radius: 0.625rem;
    overflow-y: auto;
    transition:all 0.5s;
    z-index:3;
}
.lists-register.show{
    opacity: 1;
    visibility:visible;
    pointer-events: all;
    transform:translateY(0px);
    transition:all 1s;
}
.products-list>* span {
    width: 100%;
    margin-bottom: 0;
}
.register-check .name-register.active{
    background: linear-gradient(264.07deg, #00A99C 0%, #00A99D 33.91%, #005BAA 100%);
    border: 1px solid #FFFFFF;
    -webkit-box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    color: #fff;
    box-shadow: 0px 8px 24px rgba(26, 184, 157, 0.45);
    border-radius: 25px;
}

.lists-register>*:not(:last-child) {
    border-bottom: solid thin #ececec63;
    margin-bottom: 2.5px;
}
.products-list .lists-register .name-register {
    position: relative;
    z-index: 1;
    border-radius: 5px;
}
.register-check span {
    border: solid thin #343434;
    background: #343434;
    border-radius: 30px;
    color: #888;
    padding: 7.5px 10px;
    display: inline-block;
    margin-bottom: 7.5px;
}

.pro-banner .icon img {
    height: 26px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}
.pro-banner{
    z-index:1;
    background:rgba(255,255,255,.25);
    backdrop-filter: blur(20.4092px);
    transition:all .5s;
}

.logo-footer{
    max-width:224px;
}
.footer-content a{
    transition:all .5s;
}
.footer-content a:hover{
    color: #00a99d;
    transition:all .5s;
}
.slide-banner__index .after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    will-change: contents;
    filter: blur(15px);
    opacity: 0;
    transition: 0.35s all 0s;
    z-index: 1;
    pointer-events: none;
}
.nav-footer > ul > li > a {
    color: #888888;
    transition:all .5s;
}
.nav-footer ul li a:hover {
    color: #fff;
    transition:all .5s;
}
.footer-content2{
    color:#888888;
}
.footer-content{
    color:#888888;
}
.FadeInUp.wow{
    animation: FadeInUp .8s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
.FadeInUp{
    opacity:0;
    transform: translateY(20px);
}

@keyframes FadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        visibility: hidden;
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
}

.FadeInLeft.wow{
    animation: FadeInLeft .8s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}
.FadeInLeft{
    opacity:0;
    transform: translateX(-20px);
}
@keyframes FadeInLeft{
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.FadeInRight.wow{
    animation: FadeInLeft .8s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}
.FadeInRight{
    opacity:0;
    transform: translateX(-20px);
}
@keyframes FadeInRight{
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.number-customer{
    opacity: 0; /* Ẩn ban đầu */
    transition: opacity 0.5s ease-out;
}
.number-customer.visible {
    opacity: 1; /* Hiển thị khi nhìn thấy */
}
@media screen and (min-width:1024px) {
    .xl\:basis-1\/2{
        flex-basis:50%;
    }
}
@media screen and (max-width:1023px) {
    .document-subtitle:after{
        content:"";
        margin-left: 0.75rem;
        background:currentColor;
        height:2px;
        width:1.5rem;
        margin-right: 8px;
    }
}
@media screen and (min-width:1280px) {
    .item-new:hover::after{
        background: rgba(0, 0, 0, 0.7);
        transition: all 0.5s;
    }
    .item-new:hover .content{
        transform:translateY(0px);
        transition: all 0.5s;
    }
.h-logo{
    max-width:204px;
}
.header{
    background: rgba(0, 0, 0, 0.7);
}

.header-title > li > ul {
    position:absolute;
    top: 100%; /* Đặt vị trí từ phía trên thẻ cha */
    left: 0;
    margin-top: 0px; 
    z-index: 1;
    background: #2b2b2b;
    min-width: 280px;
    transition: all 0.5s;
    visibility: hidden;
    opacity:0;
    border-radius: 10px;
}
.header-title > li:hover > ul{
    visibility:visible;
    opacity:1;
    transition: all 0.5s;
}
.header-title  li:hover > a{
    color: #00a99d;
    transition: all 0.5s;
}
.header-title li:hover > .btn-header-title{
    color: #00a99d;
    transition: all 0.5s;
}
.header-title > li > ul > li > ul{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    background: #2b2b2b;
    min-width: 280px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    visibility: hidden;
    opacity:0;
    border-radius: 10px;
}
.header-title > li > ul > li:hover > ul{
    visibility:visible;
    opacity:1;
    transition: all 0.5s;
}
.btn-header-title {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    color: #fff;
    transform: translateY(-50%);
}
.header-title li{
    position:relative;
}
.header-title > li > a{
    padding:40px 0;
}

.header-title li ul li a {
    padding:10px 16px;
    display:block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header-title li ul li:last-child a {
    border-bottom: none;
}
.header-title > li > ul > *:not(:last-child) {
    padding-right: 23px
}
.header-title > li > ul > li > ul *:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.item-certifi::after {
    content: "";
    width: 222px;
    height: 191px;
    background-image: url(img/logo-hover.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.item-certifi:hover::after{
    opacity:1;
    transition: all 0.5s;
}
.slide-banner__index .list-pro__detail .pro-banner:nth-child(2) {
    left: 57%;
}
}

@media screen and (max-width:1279px) { 
    .pro-banner .text{
        font-size:10px;
    }
    .item-new .content{
        display:flex;
        transform: translateY(0px);
    }
    
    .button-next-dat,
    .button-prev-dat {
      display: none !important;
    }
    .slide-1-1{
        flex-basis:100%;
    }
    .slide-1-2{
        flex-basis:100%;
    }
    .header{
        background: rgba(0, 0, 0, 0.7);
    }
    .header-title > li >ul > li > span{
        top:0;
    }
    .header-title >li >ul{
        max-height:0;
        box-sizing: border-box;
        overflow:hidden;
        transition:all .7s;
    }
    .header-title > li >ul >li >ul {
        max-height:0;
        box-sizing: border-box;
        overflow:hidden;
        transition:all .7s;
    }
    .header-title > li >ul > li >a{
        display:flex;
        width:100%;
    }
    .header-title > li > ul.open{
        max-height:1000px;
        transition:all 1.7s;
    }
    .header-title > li >ul >li >ul.open {
        max-height:1000px;
        transition:all 1.7s;
    }
    .header-title li{
        position:relative;
        width:100%;
        margin: 10px 0px;
        padding-left:5px;
    }
    
    .header-title > li > a {
        background: rgba(255, 255, 255, 0.1);
        border-radius:10px;
        width:100%;
        height:100%;
        padding:10px 16px 10px 10px;
    }
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: 100;
        background: radial-gradient(65.11% 65.11% at 50% 50%, #00aeef 0%, #005cb9 100%);
        width: 100%;
        max-width: min(300px, 80%);
        padding: 16px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        overflow-y: auto;
    }
    .menu.active {
        left: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .over-lay{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 50;
        transition: all 0.5s;
    }
    .over-lay.active{
        right:0;
        transition:all 0.5s;
    }
    .header-title > li > span{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        /* width: 36.5px; */
        height: 42.5px;
    }
    .btn-header-title {
        position: absolute;
        right: 0;
        z-index: -1;
        color: #fff;
        margin-right:10px;
        transition:all 0.5s;
    }
    .btn-header-title.open{
        rotate: 180deg;
        transition:all 0.5s;
    }
    .logo-footer{
        max-width:105px;
    }
}
@media screen and (min-width:768px) {
    .lg\:basis-1\/2{
        flex-basis:50%;
    }
    .lg:\max-w-\[70\%\]{
        max-width: 70%;
    }
    .module-infor div{
        flex-basis:50%;
    }
}
@media screen and (max-width:767px) {
    .css-video-banner{
        align-self: center;
    }
}
.list-pro__detail .pro-banner:nth-child(1) {
    left: 1%;
    top: 30%;
}
.list-pro__detail .pro-banner:nth-child(2) {
    bottom: 58%;
    left: 55%;
}
.list-pro__detail .pro-banner:nth-child(3) {
    top: 60%;
    left: 27%;
}
.list-pro__detail .pro-banner:nth-child(4) {
    top: 45%;
    left: 4%;
}
.mySwipers .banner-image:hover .pro-banner:nth-child(1), .mySwipers .banner-image:focus .pro-banner:nth-child(1) {
    left: 10%;
    top: 23%;
    transition:all .5s;
}
.mySwipers .banner-image:hover .pro-banner:nth-child(2), .mySwipers .banner-image:focus .pro-banner:nth-child(2) {
    left: 60%;
    bottom: 66%;
    transition:all .5s;
}
.mySwipers .banner-image:hover .pro-banner:nth-child(3), .mySwipers .banner-image:focus .pro-banner:nth-child(3) {
    left: 34%;
    top: 69%;
    transition:all .5s;
}
.mySwipers .banner-image:hover .pro-banner:nth-child(4), .mySwipers .banner-image:focus .pro-banner:nth-child(4) {
    top: 44%;
    left: 0%;
    transition:all .5s;
}
.mySwipers .after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    will-change: contents;
    filter: blur(15px);
    opacity: 0;
    transition: 0.35s all;
    z-index: 1;
    pointer-events: none;
}
.mySwipers .banner-image:hover .after{
    opacity:1;
    transition: 0.35s all;
}
.mySwipers .banner-image:hover, .mySwipers .banner-image:focus {
    transform: scale(1.05);
    transition:all .5s;
}
.mySwipers .banner-image {
    transition: 0.3s all;
}
@media screen and (max-width:576px) { 
    .box-vision > div > img{
        transform:scale(1.3);
    }
    .item-partner {
        border-radius: 5px !important;
    }
    .people1-swiper .name,.people2-swiper .name{
        font-size: 12px;
    }
    .list-pro__detail .pro-banner:nth-child(1) {
        top:15%;
    }
    .list-pro__detail .pro-banner:nth-child(2) {
        left: 60%;
    }
    .list-pro__detail .pro-banner:nth-child(3) {
        top:65%;
        left:29%;
    }
    .list-pro__detail .pro-banner:nth-child(4) {
        left: 13%;
    }
    .text-12{
        font-size:12px;
    }
    .mySwipers {
        padding-top:1.25rem !important;
    }
    .publication-item .info {
        font-size: 12px !important;
    }
    .app ::placeholder{
        font-size:12px;
    }
}
@media screen and (max-width:414px) {
    .btn-register{
        border-radius: 20px;
    }
}
@media screen and (max-width:640px) {
    .box-vision{
        min-height: 200px;
    }
}

